{% extends 'users/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="jumbotron">
                    <h1>Thank you for using the website...see you soon.</h1>
                    <h4>We hope you'll accomplish all your tasks in time.</h4>
                    <a href="{% url 'login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>