{% extends 'users/forms.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-sm-3">
                <form action="" method="post" class="card card-body img-rounded border-primary">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Create Account</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{signup_form|crispy}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button id="button-link" type="submit" class="btn btn-primary">Create account</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <br><hr>
                            <h6 class="text-center">Already signed up? <a href="">Login</a></h6>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>